@model IEnumerable<Travlr.Models.Views.GrupoViewModel>

@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Detalles" asp-route-id="@item.GrupoID">Detalles</a> |
                <a asp-action="DejarGrupo" asp-route-id="@item.GrupoID">Me voy al carajo pelotudos</a> |
                <a asp-action="ManejoFondos" asp-route-id="@item.GrupoID">Manejo fiscal</a> |
                <a asp-action="CrearEncuesta" asp-route-id="@item.GrupoID">Encuestas</a> |
                <a asp-action="CrearActividad" asp-route-id="@item.GrupoID">Actividadeeeeees</a>
            </td>
        </tr>
}
    </tbody>
</table>