@model IEnumerable<Travlr.Models.Views.GrupoViewModel>

@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Detalles" asp-route-id="@item.GrupoID">Detalles</a> |
                <a asp-action="DejarGrupo" asp-route-id="@item.GrupoID">Me voy</a> |
                <a asp-action="ManejoFondos" asp-route-id="@item.GrupoID" asp-controller="ManejoFondos">Fondos</a> |
                <a asp-action="CrearEncuesta" asp-route-id="@item.GrupoID" asp-controller="Encuestas">Encuestas</a> |
                <a asp-action="CrearActividad" asp-route-id="@item.GrupoID" asp-controller="Actividades">Actividades</a> |
                <a asp-action="FechasDisponibilidad" asp-route-id="@item.GrupoID" asp-controller="FechasDisponibilidad">Fechas</a>
            </td>
        </tr>
}
    </tbody>
</table>